.search-product svg,
.account svg {
  width: 30px;
}
a.account {
  display: flex;
  justify-content: end;
}
.site-logo svg {
  width: 70px;
}
.site-logo {
  text-align: center;
}
.navbar-xlk .navbar-nav {
  justify-content: space-between;
  width: 100%;
}
